.header{

    // header contact begin
    &-contact{
        padding: 12px 0 11px 0;
        background-color: $grey;
    }

    &-contact-inner{
        @include flex(null,space-between,null,null);
    }

    &-contact-address{
        a{
            @include text($rob,13px, null,none,#898989,400,20px,null,null);
            &:nth-child(1){ margin-right: 55px; }
        } 
        i{
            font-size: 16px;
            margin-right: 10px;
        }
    }

    &-contact__lang{
        @include text($rob,13px, null,none,#898989,400,20px,null,null);
        margin-right: 76px;
        position: relative;

        i{
            font-size: 16px;
            margin-right: 10px;
        }

        &:before{
            content: "";
            @include position(absolute,5px,-20px,null,null,null);
            border: 5px solid #898989;
            border-color: #898989 transparent transparent transparent;
        }
    }

    &-contact-links-list{
        display: inline-block;
        list-style: none;
        li{
            display: inline-block;
            margin-left: 1px;
        }
    }

    &-contact-links__item{
        @include text(null,18px, null,none,#898989,400,20px,null,null);
        &:hover{
            color: $red;
        }
    }
    // header contact end


    // header nav begin
    &-nav{ padding: 30px 0 25px 0; }
    &-nav-inner{ @include flex(null,null,null,null); }
    &-nav-logo{ cursor: pointer; }

    &-nav-form{
        position: relative;
        margin-left: 200px;

        input[type="text"]{
            @include text($rob,14px, null,none,$greyText,400,20px,null,null);
            border: none;
            background-color: $blockBg;
            border-radius: 50px;
            padding: 11px 30px;
            width: 370px;

            &::placeholder{
                @include text($rob,14px, null,none,$greyText,400,20px,null,null);
            }
        }

        input[type="image"]{
            @include position(absolute,12px,25px,null,null,null);
        }

    }

    &-nav-links{
        margin: 9px 0 0 auto;
        a:last-child{
            @include text($rob,18px, null,none,#000,900,20px,null,null);
        }
    }

    &-nav__reg,
    &-nav__text{
        @include text($ral,13px, uppercase,none,$greyText,400,20px,null,null); 
        margin-right: 20px;
        i { font-size: 19px; margin-right: 10px;}
    }

    &-nav__korzina{
        @include text($rob,18px, null,none,#000,900,20px,null,null);
        margin: 0 15px 0 10px;
        position: relative;

        span{
            display: inline-block;
            @include position(absolute,-8px,-3px,null,null,null);
            width: 17px;
            height: 17px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            line-height: 17px;
            border-radius: 50%;
            background-color: $red;
        }
    }

    &-links{
        border-top: 1px solid $greyText;
        padding: 22px 0;
    }

    &-links-list{
        display: inline-block;
        list-style: none;
        li{
            margin-right: 35px;
            display: inline-block;
        }
    }

    &-links-list__item{
        @include text($ral,14px, uppercase,none,#080808,800,20px,null,null);
        position: relative;
    }

    .active{
        color: $red;
        &:before{
            content: "";
            @include center('horizontal');
            top: -25px;
            width: 120%;
            height: 1px;
            background-color: $red;
        }
    }

}