$ral: Raleway;
$rob: Roboto;

$red:#e5493a;
$redLight: #e5493a;
$grey: #363636;
$greyText: #cecece;
$blockBg: #fafafa;
$arrowBg: #f3f3f3;

$headerGreen: #8dc63f;
$headerWishlist: #202020;
$headerWishlistBg: #f5f5f5;
$headerWishlistLine: #e1e1e1;
$headerWishlistClear: #e6e6e6;

$footerContactBg: #252525;
$footerInputBg: #171717;
$footerNavBg: #111111;
$footerText: #464646;

$homeHeaderInfo: #959595;
$homeHeaderInfoText: #707070;
$homeBrandsBg: #fafafa;
$homePortfolioText: #8c8c8c;
$homePortfolioSearch: #252525;
$homeChooseLab: #f2f2f2;

$porListInfoText: #db6e64;

$portfolioDetailsSyn:#9f9f9f;

$blogText: #cccccc;
$blogInfo: #959595;
$blogBlue: #6dcff6;

$blogDetailInfo: #b6b6b6;
$blogDetailAsideBlock: #f5f5f5;

$messageRed: #e5493a;
$messageRed1: #d4392a;
$messageGreen: #8dc63f;
$messageGreen1: #83bc35;
$messageBlue: #00aeef;
$messageBlue1: #009ed9;
$messageFiolet: #605ca8;
$messageFiolet1: #534f9f;
$messageYellow: #fecc17;
$messageYellow1: #f8c50b;
$messageGrey: #ebebeb;
$messageGrey1: #e1e1e12d;
$messageGreyText:#898989;

$productListAside: #f5f5f5;
$productListAsideBg: #fafafa;

